i.eci { 
display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
     }
     .select2-container i.eci,
     .elementor-icon-list-icon i.eci {
       display: inline-block;
     }
     .elementor-icons-manager__tab__item__icon.eci {
    font-size: 28px;
}
.elementor-icons-manager__tab-link i.eci {
    display: inline-block;
    font-size: 18px;
}
@font-face {
 font-family: 'data';
  src: url('fontello-139c46a1.zip/fontello-139c46a1/font/data.eot?1379587729');
  src: url('fontello-139c46a1.zip/fontello-139c46a1/font/data.eot?1379587729#iefix') format('embedded-opentype'),
       url('fontello-139c46a1.zip/fontello-139c46a1/font/data.woff2?1379587729') format('woff2'),
       url('fontello-139c46a1.zip/fontello-139c46a1/font/data.woff?1379587729') format('woff'),
       url('fontello-139c46a1.zip/fontello-139c46a1/font/data.ttf?1379587729') format('truetype'),
       url('fontello-139c46a1.zip/fontello-139c46a1/font/data.svg?1379587729#data') format('svg');
  font-weight: normal;
  font-style: normal;
}
.eci.data-data::before { content: '\e800'; font-family: 'data'; }
.eci.data-website-circled::before { content: '\e801'; font-family: 'data'; }


